img{
		border-radius: 100%;
		width: 150px;
		height: 150px;
		margin: 0 auto;
	}
.task{
	padding-top: 5%;
	padding-bottom: 5%;
}

#inicio .task{
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 50px;
	background: rgba(76, 175, 80, 0.3);
}
#desarrollo .task{
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 50px;
	background: rgba(50, 204, 250, 0.3);
}
#finalizado .task{
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 50px;
	background: rgba(255, 0, 0, 0.3);
}
.glyph{
	float:right;
	padding-right: 4%;
}

body {
  margin: 20%;
}

#titulo {
  text-align: center;
}

#seleccionar {

}

.content {
  margin: 5%;
}
