doctype html
hmtl
  head
    link(rel='stylesheet' href='./bower_components/bootstrap/dist/css/bootstrap.min.css')
  body
    h1 Mi ejemplo con bower
    p Instale bootstrap con bower

    button.btn.btn-primary(type='button') bootstrap
