<style>
            ul{
                
                list-style-type: none;
            }
            li{
                float : left;
                
            }
            .container{
                width:80%;
                margin-left:auto;
                margin-right:auto;
            }
            .verticalLine {
                border-right: solid black;
                padding-left: 5px;
                padding-right: 5px;
            }
            .comodin{
                margin-left: 5px;
            }
            .cleaner{
                clear: left;
            }
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
<nav>
                    <ul>
                        <li class="verticalLine"><a href="index.html">Inicio</a></li>
                        <li class="verticalLine"><a href="Conferencias">Conferencias</a></li>
                        <li class="comodin"><a href="Asistentes">Asistentes</a></li>
                    </ul>
</nav>