<h1 id='titulo'>Dashboard de Proyectos</h1>

<div ng-controller='appController' class='content'>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevaTareaModal" id="agregarTareasBtn">Agregar Tareas</button>


  <label for="proyectos">Proyecto : </label><select ng-model='proyecto_selecionado' ng-options='proyecto.nombre for proyecto in proyectos' ng-change="opcion()" id='seleccionar'>
  </select>

  <!-- Modal -->
  <div id="nuevaTareaModal" class="modal fade" role="dialog">
   <div class="modal-dialog">

     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Crear tarea</h4>
       </div>
       <div class="modal-body">
         <!--FORM-->
         <form action="" method="POST" id="form">
           <div class="form-group">
             <label for="nombre">Nombre: </label>
             <input type="text" name="nombre" id="nombre" class="form-control" ng-model='tarea_ingreso.nombre'>
           </div>
           <div class="form-group">
             <label for="descripcion">Descripcion: </label>
             <textarea class="form-control" rows="5" id="descripcion" name="descripcion" ng-model='tarea_ingreso.descripcion'></textarea>
           </div>
           <div class="input-group">
             <input type="text" class="form-control" placeholder="Responsable" name="responsable" id="responsable" ng-model="tarea_ingreso.responsable"  uib-typeahead="nombres for nombres in getUsusarios($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
             <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                 <div ng-show="noResults">
                   <i class="glyphicon glyphicon-remove"></i> No Results Found
                 </div>
             <div class="input-group-btn">
               <button class="btn btn-default" type="submit">
                 <i class="glyphicon glyphicon-search"></i>
               </button>
             </div>
           </div>
           <br>
           <div class="form-group">
             <label for="estado">Estado: {[{tarea_ingreso.estado}]}</label>
           </div>
           <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
           <button type="submit" class="btn btn-primary" id="btnCrearTarea" data-dismiss="modal" ng-click='crearTarea()'>Crear</button>

         </form>
         <!--FORM-->
       </div><!--MODAL BODY-->
     </div><!--MODAL CONTENT-->

   </div>
  </div>
  <!--Termina el Modal-->

<div class='tabla'>
  <div class="simpleDemo">
    <div class="col-md-12">
        <div class="row">
            <div ng-repeat="(listName, list) in models.lists" class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title" ng-if='listName=="finalizado"'>Finalizado</h3>
                        <h3 class="panel-title" ng-if='listName=="inicial"'>Inicial</h3>
                        <h3 class="panel-title" ng-if='listName=="desarrollo"'>En Desarrollo</h3>
                    </div>
                    <ul dnd-list="list">
                        <li ng-repeat="item in list"
                            dnd-draggable="item"
                            dnd-moved="list.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}">
                            {[{item.tarea.nombre}]}<a class="btn btn-danger" href="#" ng-click='borrar(item.tarea._id)' ng-if='item.tarea.estado!="finalizado"'> <i class='fa fa-lg fa-trash-o'  data-toggle="modal" data-target="#myModal"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<!--
<p ng-bind-html="renderHtml(value.button)"></p>-->

</div>
