<!DOCTYPE html>
<html>
  <head>
    <title>Tareas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="bower_componets/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
  	<div class="container big-container">
	    <h1>Tareas</h1>
	    <div class="form-group">
			<label for="sel1">Proyecto</label>
		<select class="form-control" id="sel1">
			 
		</select>
		</div>
		 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevaTareaModal" id="agregarTareasBtn">Agregar Tareas</button>
		<div class="row center-block">
			<div class="col-md-4" id="inicio">
				<p class="text-center">Inicio</p>
				<hr>
			</div>
			<div class="col-md-4" id="desarrollo" >
				<p class="text-center">Desarrollo</p>
				<hr>
			</div>
			<div class="col-md-4" id="finalizado">
				<p class="text-center">Finalizados</p>
				<hr>
			</div>
		</div>
	</div>
     <!-- Modal -->
    <div id="nuevaTareaModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Crear tarea</h4>
          </div>
          <div class="modal-body">
            <!--FORM-->
            <form action="/api/tareas" method="POST" id="form">
              <div class="form-group">
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" id="nombre" class="form-control">
              </div>
              <div class="form-group">
                <label for="descripcion">Descripcion: </label>
                <textarea class="form-control" rows="5" id="descripcion" name="descripcion"></textarea>
              </div>
              <div class="input-group">              
                <input type="text" class="form-control" placeholder="Responsable" name="responsable" id="responsable">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
              <br>
              <div class="form-group">
                <p><b>Estado: </b> Inicial</p>
                <input type="hidden" name="estado" value="inicial" id="estado">
                <input type="hidden" name="proyecto" value="" id="proyecto">
              </div>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary" data-dismiss="modal" id="btnCrearTarea">Crear</button>
            </form>
            <!--FORM-->
          </div><!--MODAL BODY-->
        </div><!--MODAL CONTENT-->

      </div>
    </div>
    <!--Termina el Modal-->

    <!--SCRIPTS-->
    <script src="bower_componets/jquery/dist/jquery.min.js"></script>
    <script src="bower_componets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/ComoSea.js"></script>
  </body>
</html>
