<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/simple.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_componets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_componets/font-awesome/css/font-awesome.min.css">
  </head>
  <body ng-app='app'>
    {{{body}}}
  <script src="/bower_componets/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="/bower_componets/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="/bower_componets/angular/angular.min.js" charset="utf-8"></script>
  <script src="/bower_componets/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
  <script src="/bower_componets/angular-bootstrap/ui-bootstrap-tpls.min.js" charset="utf-8"></script>
  <script src="/scripts/app.js" charset="utf-8"></script>
  </body>
</html>
